<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">A little about us.</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>est. 2000</h4>
                        <h4 class="subheading">Our History</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Hilltop Farms Equestrian Center is a full-service boarding facility located on the Southwest side of Indianapolis in West Newton, Indiana. Our farm has been a part of the community in West Newton, Indiana for over 120 years. Members
                            of our team have been training and showing horses for over 30 years.

                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2020</h4>
                        <h4 class="subheading">Expansion Phase</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">We are currently taking on new borders. Please fill out a contact for below, or give us a call. We'd love to hear from you! </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>